Checks: >
  -*,
  bugprone-*,
  cppcoreguidelines-narrowing-conversions,
  cppcoreguidelines-pro-type-member-init,
  performance-*,
  modernize-use-override,
  modernize-use-nullptr,
  readability-implicit-bool-conversion,
  readability-else-after-return,
  readability-redundant-*
WarningsAsErrors: ''
HeaderFilterRegex: '/(src|tests)/'
FormatStyle: file
CheckOptions:
  bugprone-easily-swappable-parameters.IgnoredParameterNames: 'x;y;address;value'
